.separator{
  width: 100%;
  height: 1px;
  background-color: $color-separator-grey;
  &--gradient-light{
    background-image: linear-gradient(to right,#A9A9A9, #E9E9E9 , #A9A9A9);
  }
  &--margin{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  &--cyan{
    background-color: $color-cyan;
  }
}
.my-icons{
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  margin-bottom: -4px;
}

.infiniteLoader{
  width: 100%;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  &__loader{
    color: $color-cyan;
    width: 100px!important;
    height: 100px!important;
  }
}