  // Style is global in order to overwrite material css
  .v-expansion-panel{
    &__header__icon .v-icon{
      color: $color-cyan!important;
    }
    .v-icon{
      color: $color-cyan!important;
      font-size: 1.4rem;
    }
  }
  .header-container .v-chip .v-chip__content{
    cursor: pointer;
    height: 28px;
  }
  @media only screen and (max-width: 600px) {
    .expansion-panel{
      .v-expansion-panel__header{
        flex-direction: column;
      }
    }
  }