.expansion-panel{
  /deep/ .separator{
    margin-bottom: 12px!important;
  }
  &__uploaded-file{
    padding: 0px 24px 12px;
    text-align: left;
    @media only screen and (min-width: 600px) {
      text-align: right;
    }
    p{
      margin: 0;
      @media only screen and (max-width: 600px) {
        &:first-of-type{
          word-wrap: none;
          white-space: nowrap;
        }
      }
    }
    &__file{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      @media only screen and (min-width: 600px) {
        justify-content: flex-end;
      }
    }
  }
  &__footer{
    margin: 0 24px;
    padding: 12px 0;
    border-top: 1px solid $color-cyan;
    display: flex;
    justify-content: flex-end;
    .btn{
        margin-left: 10px 12px;
    }
  }
}

.expansion-panel-modify{
  box-shadow: none!important;
}
.expansion-panel{
  margin-bottom: 20px;
  border: 1px solid $color-separator-grey;
  @extend %material-shadow;
}
.filterPanel{
  .section-title{
    padding-bottom: 25px;
  }
  &__name{
    font-size: 1.1rem;
    padding-bottom: 5px;
    margin-right: 10px;
  }
  &__field{
    width: 115px;
    margin-right: 25px;
  }
  &__clear{
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 540px) {
  .filterPanel{
    margin-bottom: 20px;
    &__name{
      margin: 0;
    }
    &__fields-container > div{
      width: 100%;
    }
    &__field{
      width: 100%;
    }
  }
}